# Dependencias de Node
node_modules/

# Archivos compilados
dist/
build/

# Entornos virtuales de Python
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.pyc

# Variables de entorno y credenciales
.env
.env.*
firebase_credenciales.json